In [3]:
import csv

import json, os, sys
import pandas as pd

person_filename="../data/ORCID_migrations_2018_by_person.csv"
df_person=pd.read_csv(person_filename,delimiter="\t")
# print(df_person.head())
print(df_person.columns)

whole_filename="../data/ORCID_migrations_2018.csv"
df=pd.read_csv(whole_filename,delimiter="\t")
print(df.head())

Index(['orcid_id', 'phd_year', 'country_2018', 'earliest_year',
       'earliest_country', 'has_phd', 'phd_country'],
      dtype='object')
   Unnamed: 0              orcid_id country  \
0           0  /0000-0002-9418-3797      EG
1           1  /0000-0002-9418-3797      EG
2           2  /0000-0001-6920-0797      BR
3           3  /0000-0001-6920-0797      BR
4           4  /0000-0001-6920-0797      BR

                           organization_name Ringgold_id  start_year  \
0                       Ain Shams University       68791         NaN
1                   National Research Centre       68787         NaN
2  Universidade Federal de Pernambuco - UFPE         NaN      2017.0
3  Universidade Federal de Pernambuco - UFPE         NaN      2013.0
4  Universidade Federal de Pernambuco - UFPE      133639      2017.0

   end_year affiliation_type  \
0       NaN        EDUCATION
1       NaN       EMPLOYMENT
2    2018.0        EDUCATION
3    2017.0        EDUCATION
4    2018.0       EMPLOYMENT

                                    affiliation_role  is_phd
0                                                PhD    True
1                                                NaN   False
2                     Mestrando em Geografia - PPGEO   False
3                         Licenciatura em Geografia    False
4  REPRESENTANTE DISCENTE DO MESTRADO TURMA 2017-...   False

In [2]:
## Here we retrieve people with both EDUCATION AND EMPLOYMENT record, and compare the start date, 
## to answer the Q5 of "What’s the ratio of researchers migrated to 
## another country/state once they finished their degree?"
## Are there people who has more than one education record or more than one employment record? 

## First, filter df to have people with both at least one EDUCATION AND at least one EMPLOYMENT
unique_orcid_ids=df.orcid_id.unique()
print("num of unique orcid_id versus total rows", len(unique_orcid_ids), len(df))

## Having at least two affiliations
num_affiliations_per_person=df.groupby('orcid_id').count()
num_affiliations_per_person=num_affiliations_per_person[num_affiliations_per_person['affiliation_role']>1]
orcid_id_more_than_one_affiliation=len(num_affiliations_per_person)

## Then, discard people whose EDUCATION AND EMPLOYMENT are discontinued 

##

num of unique orcid_id versus total rows 1598770 4432687

In [3]:
## For each person, aggregate all its affiliation types, only keep those who has two affiliations -> 939,627 rows 
set_affiliations_per_person=df.groupby('orcid_id')['affiliation_type'].nunique().to_frame() # .apply(set).to_frame()# .apply(lambda x: list(np.unique(x)))
print(set_affiliations_per_person) # ['affiliation_type']

set_affiliations_per_person_more_than_one=set_affiliations_per_person[set_affiliations_per_person['affiliation_type']==2]
len(set_affiliations_per_person_more_than_one)

unique_orcid_ids=set_affiliations_per_person_more_than_one.index.unique()
unique_orcid_ids

                      affiliation_type
orcid_id
/0000-0001-5000-0031                 1
/0000-0001-5000-0138                 1
/0000-0001-5000-0170                 2
/0000-0001-5000-0218                 2
/0000-0001-5000-0373                 2
...                                ...
/0000-0003-4999-9516                 2
/0000-0003-4999-9655                 2
/0000-0003-4999-9735                 2
/0000-0003-4999-992X                 2
/0000-0003-4999-9954                 2

[1598770 rows x 1 columns]

Index(['/0000-0001-5000-0170', '/0000-0001-5000-0218', '/0000-0001-5000-0373',
       '/0000-0001-5000-0648', '/0000-0001-5000-0736', '/0000-0001-5000-0840',
       '/0000-0001-5000-0998', '/0000-0001-5000-1018', '/0000-0001-5000-1181',
       '/0000-0001-5000-119X',
       ...
       '/0000-0003-4999-7932', '/0000-0003-4999-8230', '/0000-0003-4999-8425',
       '/0000-0003-4999-8804', '/0000-0003-4999-9495', '/0000-0003-4999-9516',
       '/0000-0003-4999-9655', '/0000-0003-4999-9735', '/0000-0003-4999-992X',
       '/0000-0003-4999-9954'],
      dtype='object', name='orcid_id', length=939627)

In [4]:
unique_orcid_ids=set(set_affiliations_per_person_more_than_one.index.unique())
set_affiliations_per_person_more_than_one_filtered=df.loc[df['orcid_id'].isin(unique_orcid_ids)]
set_affiliations_per_person_more_than_one_filtered

,Unnamed: 0,orcid_id,country,organization_name,Ringgold_id,start_year,end_year,affiliation_type,affiliation_role,is_phd
0,0,/0000-0002-9418-3797,EG,Ain Shams University,68791,NaN,NaN,EDUCATION,PhD,True
1,1,/0000-0002-9418-3797,EG,National Research Centre,68787,NaN,NaN,EMPLOYMENT,NaN,False
2,2,/0000-0001-6920-0797,BR,Universidade Federal de Pernambuco - UFPE,NaN,2017.0,2018.0,EDUCATION,Mestrando em Geografia - PPGEO,False
3,3,/0000-0001-6920-0797,BR,Universidade Federal de Pernambuco - UFPE,NaN,2013.0,2017.0,EDUCATION,Licenciatura em Geografia,False
4,4,/0000-0001-6920-0797,BR,Universidade Federal de Pernambuco - UFPE,133639,2017.0,2018.0,EMPLOYMENT,REPRESENTANTE DISCENTE DO MESTRADO TURMA 2017-...,False
...,...,...,...,...,...,...,...,...,...,...
4432681,4590004,/0000-0003-1242-3986,IT,Università degli Studi,NaN,2018.0,2018.0,EDUCATION,Corso per l'acquisizione dei 24 cfu,False
4432682,4590005,/0000-0003-1242-3986,IT,università degli studi,NaN,1986.0,1995.0,EDUCATION,Lettere Moderne,False
4432683,4590006,/0000-0003-1242-3986,IT,Ministero dell'Istruzione dell'Università e de...,17942,2017.0,2018.0,EMPLOYMENT,supplente di sostegno,False
4432685,4590008,/0000-0001-8934-9986,RU,Ярославский государственный университет,NaN,1983.0,1988.0,EDUCATION,NaN,False
4432686,4590009,/0000-0001-8934-9986,RU,Ярославский государственный университет,NaN,1988.0,2018.0,EMPLOYMENT,заведующая кафедрой,False

In [6]:
set_affiliations_per_person_more_than_one_filtered['duration']=set_affiliations_per_person_more_than_one_filtered['end_year']-set_affiliations_per_person_more_than_one_filtered['start_year']+1
set_affiliations_per_person_more_than_one_filtered

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,orcid_id,country,organization_name,Ringgold_id,start_year,end_year,affiliation_type,affiliation_role,is_phd,duration
0,0,/0000-0002-9418-3797,EG,Ain Shams University,68791,NaN,NaN,EDUCATION,PhD,True,NaN
1,1,/0000-0002-9418-3797,EG,National Research Centre,68787,NaN,NaN,EMPLOYMENT,NaN,False,NaN
2,2,/0000-0001-6920-0797,BR,Universidade Federal de Pernambuco - UFPE,NaN,2017.0,2018.0,EDUCATION,Mestrando em Geografia - PPGEO,False,2.0
3,3,/0000-0001-6920-0797,BR,Universidade Federal de Pernambuco - UFPE,NaN,2013.0,2017.0,EDUCATION,Licenciatura em Geografia,False,5.0
4,4,/0000-0001-6920-0797,BR,Universidade Federal de Pernambuco - UFPE,133639,2017.0,2018.0,EMPLOYMENT,REPRESENTANTE DISCENTE DO MESTRADO TURMA 2017-...,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...
4432681,4590004,/0000-0003-1242-3986,IT,Università degli Studi,NaN,2018.0,2018.0,EDUCATION,Corso per l'acquisizione dei 24 cfu,False,1.0
4432682,4590005,/0000-0003-1242-3986,IT,università degli studi,NaN,1986.0,1995.0,EDUCATION,Lettere Moderne,False,10.0
4432683,4590006,/0000-0003-1242-3986,IT,Ministero dell'Istruzione dell'Università e de...,17942,2017.0,2018.0,EMPLOYMENT,supplente di sostegno,False,2.0
4432685,4590008,/0000-0001-8934-9986,RU,Ярославский государственный университет,NaN,1983.0,1988.0,EDUCATION,NaN,False,6.0
4432686,4590009,/0000-0001-8934-9986,RU,Ярославский государственный университет,NaN,1988.0,2018.0,EMPLOYMENT,заведующая кафедрой,False,31.0

In [8]:
## For exach orcid_id, find its last education 
last_education=set_affiliations_per_person_more_than_one_filtered[set_affiliations_per_person_more_than_one_filtered.affiliation_type=='EDUCATION'].sort_values(by='end_year').groupby(['orcid_id','affiliation_type']).last()
last_education=last_education[last_education.duration.notnull()]
last_education

,,Unnamed: 0,country,organization_name,Ringgold_id,start_year,end_year,affiliation_role,is_phd,duration
orcid_id,affiliation_type,,,,,,,,,
/0000-0001-5000-0170,EDUCATION,4175554,CO,Universidad Manuela Beltrán,27958,2013.0,2015.0,Especialista en Evaluación Ambiental de Proyectos,False,3.0
/0000-0001-5000-0218,EDUCATION,673370,US,Binghamton University,14787,2015.0,2018.0,PhD Cognitive & Brain Sciences (Expected May 2...,True,4.0
/0000-0001-5000-0373,EDUCATION,4248174,DE,Universität zu Köln,14309,2000.0,2002.0,LLM (Master of Laws),False,3.0
/0000-0001-5000-0648,EDUCATION,3433100,BR,Universidade de Brasília,28127,2016.0,2018.0,Doutorado em Processos de Desenvolvimento Huma...,False,3.0
/0000-0001-5000-0840,EDUCATION,3277274,MY,Universiti Sains Malaysia,26689,2015.0,2018.0,PhD in Foodservice Management (Foodservice Qua...,True,4.0
...,...,...,...,...,...,...,...,...,...,...
/0000-0003-4999-9516,EDUCATION,2081436,BR,Universidade Federal da Bahia,28111,2015.0,2017.0,Mestra em Dança,False,3.0
/0000-0003-4999-9655,EDUCATION,3458554,US,University of California Berkeley,1438,1998.0,1999.0,Postdoc,False,2.0
/0000-0003-4999-9735,EDUCATION,2650313,CN,Chinese Academy of Sciences Fujian Institute o...,58281,2012.0,2017.0,NaN,False,6.0
/0000-0003-4999-992X,EDUCATION,1953653,BR,Universidade Federal Rural de Pernambuco (UAG),67744,2016.0,2018.0,Mestrando,False,3.0
/0000-0003-4999-9954,EDUCATION,147825,TW,National Taiwan University,33561,2005.0,2014.0,Doctor of Medicine,False,10.0

In [9]:
## For exach orcid_id, find its first education 
first_employment = set_affiliations_per_person_more_than_one_filtered[set_affiliations_per_person_more_than_one_filtered.affiliation_type=='EDUCATION'].sort_values(by='start_year').groupby(['orcid_id','affiliation_type']).first()
first_employment

,,Unnamed: 0,country,organization_name,Ringgold_id,start_year,end_year,affiliation_role,is_phd,duration
orcid_id,affiliation_type,,,,,,,,,
/0000-0001-5000-0170,EDUCATION,4175555,CO,Universidad de La Salle,27990,2001.0,2008.0,Ingeniera Ambiental y Sanitaria,False,8.0
/0000-0001-5000-0218,EDUCATION,673371,US,SUNY Brockport,14788,2012.0,2015.0,BS Psychology,False,4.0
/0000-0001-5000-0373,EDUCATION,4248175,PL,University of Gdańsk,grid.8585.0,1995.0,2000.0,Master of Law,False,6.0
/0000-0001-5000-0648,EDUCATION,3433102,BR,Universidade de Brasília Instituto de Psicologia,505617,2001.0,2005.0,Psicologia,False,5.0
/0000-0001-5000-0736,EDUCATION,452239,PT,Universidade de Évora Área Departamental de Ci...,98820,NaN,2006.0,PhD in Geology,True,NaN
...,...,...,...,...,...,...,...,...,...,...
/0000-0003-4999-9516,EDUCATION,2081437,BR,Universidade Federal do Maranhão,37892,1996.0,2005.0,Licenciada em Educação Artística - Artes Cênicas,False,10.0
/0000-0003-4999-9655,EDUCATION,3458554,US,University of California Berkeley,1438,1998.0,1999.0,Postdoc,False,2.0
/0000-0003-4999-9735,EDUCATION,2650313,CN,Chinese Academy of Sciences Fujian Institute o...,58281,2012.0,2017.0,NaN,False,6.0
/0000-0003-4999-992X,EDUCATION,1953655,BR,Faculdade de Filosofia Ciências e Letras de Ca...,67777,2000.0,2005.0,Especialista,False,6.0
/0000-0003-4999-9954,EDUCATION,147825,TW,National Taiwan University,33561,2005.0,2014.0,Doctor of Medicine,False,10.0

In [10]:
last_education_first_employment=last_education.join(first_employment,how="inner",lsuffix="_edu",rsuffix="_emp")
len_last_education_first_employment=len(last_education_first_employment)
print("Total researchers whose last education duration is not null and who has employment after education",len(last_education_first_employment))

Total researchers whose last education duration is not null and who has employment after education 832896

In [13]:
last_education_first_employment['migrate_or_not']=last_education_first_employment['country_emp']==last_education_first_employment['country_edu']
duration_migrate_or_not=last_education_first_employment[['duration_edu','migrate_or_not']]
duration_migrate_or_not

### Now let's calculate the pearson correlation between duration and migrate or not 

duration_migrate_or_not.corr(method='pearson')

                duration_edu  migrate_or_not
duration_edu         1.00000         0.10567
migrate_or_not       0.10567         1.00000